/* Header Start */
header{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    text-align: center;
    
    line-height: 1;
    @font-face {
        font-family:"Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
        src: url();
    } 
}

h1{
    color: #f6e1c5;
    font-size: 2.5rem;
    margin-bottom: 60px;
}

h2{
    color: #d69a4f;
    font-size: 2rem;
    font-weight: 800;
    
}

nav{
    width: 100%;
    margin: auto;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(47, 23, 15, 0.9);
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem ;
    color: #b9b1af;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li a{
    color: #b9b1af;

    
    font-size: 1rem;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
/* Header End */

.container{
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right:0.75rem;
    padding-left: 0.75rem;
    
}

.container-foto img{
    width: 75%;
   

}

.intro{
    text-align: center;
    position: relative;
}

.container-info{
    width: 45%;
    margin-top: 3rem;
    position: absolute;
    top: 20px;
    left: -163px;
    background-color: #f6e1c5;
    text-align: center;
    padding: 3rem ;
}

.header{
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.fresh h2{
    font-size: 3rem;
    color:#777068;
    font-weight: 100;
    line-height: 1.2;
    margin-top: 0;
    text-align: center;
}


.bigger h2{
    color:#7b756b;
}
.container-info > p{
    line-height: 1.75;
    text-align: center;
}
