*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

li{
    list-style: none;
}


body{
    max-width:30%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    

  
}

main{
    width: 1600px;
}


a{
    text-decoration: none;
}