body > div{
    padding: 157px 490px;
    background-image: url("./Untitled.png");
    background-repeat: no-repeat;
    background-size:cover;
  

}



.form-title{
    color: white;
    font-size: 4rem;
    margin-bottom: 39px;
}

p{
    color: white;
    margin-bottom: 36px;
}

.inputs{
    width: 300px;
    padding:13px 18px ;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    margin-bottom: 32px;
    
}




.rmb{
    accent-color:#da2222

}

label{
    color: white;
    margin-right: 45px;

}

.forget{
    color: coral;
}

button{

    background-color: greenyellow;
    color: black;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 12px 128px;
}











