@media (max-width:576px) {
   .deal-cards{
    .lost{
        display: none;
       }

   }
   
    .lost-2 {
        display: none;
    }
}

@media (max-width:768px){
    .all-header{
        .navbar {
            .navlinks{
                a{
                    display: none;
                }
            }
    
            .toggle_btn{
                display: block;
             
            }
        }
    }
    
}

