div{
    text-align: center;
    padding-top: 250px;
    
   
}
img{
    width: 20%;
}

.paragraph{
    font-size: 150px;
    padding-top: 80px;
    padding-right: 40%;
}
.second-p{
    padding-right: 30%;
    padding-left: 15%;
    font-weight: bold;
    font-family: sans-serif;

}
