.card{
    box-shadow: 15 15px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    justify-content: center;
    margin: auto;
    width: 40%;
    padding: 20px;
    
    
   
  
}

.card-body{

    border-top: 5px solid rgb(83, 80, 80);
    border-radius: 0;
    color: 5px solid rgb(65, 60, 60);
    text-align: center;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(27, 25, 25, 0.2);;
}

.card p{
    width: 270px;
    text-align: justify;
}
.list{
    text-align: left;
    padding-left: 1px;
}


.card-image{
    width: 270px;
    height: 190px;

}

.card-link{
    margin-right: 40px;
}

