*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Syne', sans-serif;
}

html{
    scroll-behavior: smooth;
}