<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Header Start -->
    <header>
        <div>
            <div class="header-left">
                <a href="#">
                    <h1>Start Bootstrap</h1>
                </a>
            </div>

            <nav>
                <div class="navbar-links">
                    <ul>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">PORTFOLIO</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">TEAM</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>

            </nav>
        </div>

    </header>
    <!-- Header End -->

    <!-- Main Start -->
    <main>
        <!-- Section Welcome Start -->
        <section id="welcome">
            <div>
                <h1>Welcome To Our Studio!</h1>
                <p>IT'S NICE TO MEET YOU </p>
                <button>TELL ME MORE</button>
            </div>
        </section>
        <!-- Section Welcome End -->


        <!-- Section Services Start -->
        <section id="services">
            <div>
                <div class="services">
                    <h1>SERVICES</h1>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="cards">
                    <div class="card1">
                        <img>
                        <h3>E-Commerce</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo
                            inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="card2">
                        <img>
                        <h3>Responsive Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architect

                    </div>
                    <div class="card3">
                        <img>
                        <h3>Web Security</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam

                    </div>

                </div>


            </div>
        </section>
        <!-- Section Services Enda -->

        <section></section>



    </main>








    <footer></footer>
</body>

</html>