<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./app.css">
    <title>Document</title>
</head>

<body>

    <!-- Header Section Start -->
    <header>
        <div>
            <div class="header-left">
                <a href="#" target="_blank">Start Bootstrap</a>
            </div>

            <nav>
                <div class="links">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contacts</a>
                </div>
                
                 
            </nav>
        </div>

    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main>
        <!-- Section first-part Start -->
        <section id="first-part">
            <div>
                <img src="" alt="background-image">
                <div class="center-content">
                    <img src="" alt="circle">
                    <h1>Full Width Pics</h1>
                    <p>Landing Page Template </p>
                </div>

            </div>
        </section>
        <!-- Section first-part Ends -->

        <!-- Section second-part Start -->
        <section id="second-part">
            <div>
                <h1>Full Width Backgrounds</h1>
                <p class="first-p">A single, lightweight helper class allows you to add engaging, full width background
                    images to sections of your page.</p>
                <p class="second-p">The universe is almost 14 billion years old, and, wow! Life had no problem starting
                    here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the
                    universe.</p>
            </div>
        </section>
        <!-- Section second-part End -->


        <!-- Section third-part Start -->
        <section id="third-part">
            <img src="" alt="moon">


        </section>
        <!-- Section third-part End -->


    </main>
    <!-- Main Section End -->

    <!-- Footer start -->
    <footer>
        <p>Copyright © Your Website 2022</p>
    </footer>
    <!-- Footer End -->

</body>

</html>